/* 
Theme Name: Hello Elementor Child
Theme URI: https://github.com/elementor/hello-theme/
Description: Hello Elementor Child is a child theme of Hello Elementor, created by Elementor team
Author: Elementor Team
Author URI: https://elementor.com/
Template: hello-elementor
Version: 1.0.1
Text Domain: bunnytummy
License: GNU General Public License v3 or later.
License URI: https://www.gnu.org/licenses/gpl-3.0.html
Tags: flexible-header, custom-colors, custom-menu, custom-logo, editor-style, featured-images, rtl-language-support, threaded-comments, translation-ready
*/

/*
    Add your custom styles here
*/
/*
// Remove Breadcrumbs on Desktop and Mobile
.woocommerce-breadcrumb {
	max-width: 1600!important;
	margin: 0 auto!important;
}
*/

.site-main {
	max-width: 100%!important;
	justify-content:center;
}
/* code copied from override parent elementor before updating template */

/*Select customisation

.woocommerce div.product.elementor form.cart table.variations td.value select{
	color: #fff !important;
	height: 35px !important;
	font-weight: bold !important;
	padding-right: 20px !important;
	border: 2px solid #ffffff !important;
	background-color: rgba(255,255,255,0.12) !important;
    -webkit-appearance: none !important;
    -webkit-border-radius:20px !important;
    -moz-border-radius: 20px !important;
    -ms-border-radius: 20px !important;
	border-radius: 20px !important;


}
/*.woocommerce div.product.elementor form.cart table.variations td.value select option{
	background: pink;
}*/

/* Hide all outlines as per customer request */
*, *:focus, a, input, button {outline:none !important;}

.woocommerce .product.elementor .cart .variations .label{
	display: none
}
.woocommerce div.product.elementor form.cart table.variations td.value{
	background-color: transparent !important;
	margin: 0 auto !important;
	width: 125px !important;
}
.woocommerce div.product.elementor form.cart table.variations td.value::before{
	background-color: transparent !important;
}
.woocommerce div.product.elementor .woocommerce-variation-add-to-cart .quantity input{
	margin-left: 10px;
	background-color: rgba(255,255,255,0.12) !important;
    -webskit-appearance: none;
	color: #ffffff !important;
	border: 2px solid #ffffff !important;
    -webkit-border-radius:20px !important;
    -moz-border-radius: 20px !important;
    -ms-border-radius: 20px !important;
    border-radius: 20px !important;

}
.woocommerce div.product form.cart .reset_variations{
	font-weight: bold !important;
	font-size: 14px !important;
	position: absolute !important;
	left: -35px !important;
	color: #fff !important;
}
/*Remove country field*/
#billing_country_field{
	display: none;
}

#payment{
	background: none !important;
}
.wc_payment_method payment_method_cardcom{
    display:none;
}

.cart_item woocommerce-checkout-review-order-table thead, .woocommerce-checkout-review-order-table .cart-item, .woocommerce-checkout-review-order-table .cart-subtotal{
    display: none;
}


.page-id-533 .elementor-widget-text-editor, .page-id-532 .elementor-widget-text-editor{
	color: #ffffff !important;
	font-family: "Assistant", Sans-serif !important;
}

table td, table th{
	border:none;
}

.quantity .input-text{
	border-radius:30px;
}

.woocommerce-cart-form__cart-item cart_item{
	 background-color: rgb(255, 255, 255,0.2);
}

.woocommerce-cart-form__cart-item.cart_item .variation {
    text-align: right;
}

.elementor-menu-cart__container .woocommerce-cart-form__cart-item.cart_item .variation dt {
    min-width: 100px;
}

.woocommerce-cart-form__cart-item.cart_item .variation dd.variation- p {
    display: none!important;
}   

.woocommerce table.shop_table{
	margin:0;
}
#cart-eddie .woocommerce{
	border: 2px solid rgb(255, 255, 255, 0.5);
    border-radius: 15px;
    background-color: rgb(255, 255, 255,0.1);
}
table{
    font-size: 1em !important;
}

table tbody tr:hover>td, table tbody tr:hover>th {
    background-color: transparent; 
}

table tbody>tr:nth-child(odd)>td, table tbody>tr:nth-child(odd)>th {
    background-color: rgb(255, 255, 255, 0.5);
}

a{
    color: #ffffff;
}
.order_review_heading{
    display: none;
}

.wc_payment_methods{
    display: none;
}


.woocommerce .col2-set .col-1, .woocommerce-page .col2-set .col-1, .woocommerce .col2-set .col-2, .woocommerce-page .col2-set .col-2{
    width: 100%;
    margin-bottom: 30px;
}
.woocommerce-form-coupon-toggle{
    display: none;}
.woocommerce-cart-form__contents .product-name{
    border-top: none;
}

.order_details{
    display: none;
}

#place_order{
    border: 3px solid #ffffff;
    border-radius: 30px;
    background: transparent;
}

.single_add_to_cart_button,#place_order{
    animation:animate 2s linear infinite
}
@keyframes animate{
    0%{box-shadow:0 0 0 0 rgb(255,255,255,.5),0 0 0 0 rgb(255,255,255,0)}
    40%{box-shadow:0 0 0 30px rgb(255,255,255,0),0 0 0 0 rgb(255,255,255,.7)}
    80%{box-shadow:0 0 0 30px rgb(255,255,255,0),0 0 0 20px rgb(255,255,255,0)}
    100%{box-shadow:0 0 0 0 rgb(204,201,23,0),0 0 0 20px rgb(204,201,23,0)}
}

#order_review_heading{
    display: none;
}
@media only screen and (min-width: 425px) {
  #place_order{display: flex !important;
    margin: 0 auto !important;
    float: none !important}
}

/* END - code copied from override parent elementor before updating template */



.bt_shop {margin: 20px 0 20px 10%; overflow: hidden;}
.bt_cat_grid {display: grid; grid-template-columns: repeat(4, 1fr); gap: 20px; grid-auto-rows: 491px; margin-top: 30px;}
.bt_cat_grid li.product {list-style: none;}
.bt_cat_grid .bt_cat_tile {width: 100%; height: 100%; position: relative;}
.bt_cat_grid .bt_cat_img {width: 100%; height: 100%; object-fit: cover;}
.bt_cat_grid .bt_cat_title {
    position: absolute; display: flex; flex-direction: column;
    bottom: 30px;
    right: 60px;
    color: white;
    font-weight: 500;
    font-size: 24px;
}
.bt_cat_grid .bt_cat_title {font-weight: 300;}
.bt_cat_grid .bt_cat_title b {font-weight: 700;}

.bt_measure_wrapper {display: flex; flex-flow: row wrap; gap: 20px;}
.measure_section {display: flex; flex-direction: column; flex: 1; align-self: stretch;}
.measure_title {font-weight: 700; font-size: 24px; text-align: center;}
.measure_subtitle {font-weight: 700; font-size: 16px; text-align: center;}
.measure_list {display: grid; grid-template-columns: repeat(5, 1fr); gap: 20px; padding: 20px 40px; justify-items: center;}
.measure_list .measure_btn {font-size:10px; padding: 0; border-radius: 50%; width: 45px; height: 45px; border-color: #bdbdbd;}
.measure_list .measure_btn.bt-active {border-color: black;}
.measure_section .measure_view_item:not(.bt-active) {display: none !important;}
.measure_view_item .measure_image {width: 100%;}
.measure_view_item .measure_description {font-size: 16px; text-align: center;}
.bt_filter {display: flex; flex-flow: row nowrap; align-items: center; justify-content: center; gap: 10px; font-size: 21px; padding: 0 10px;}
.bt_filter .bt_filter_items {display: flex; flex-flow: row wrap; gap: 10px;}
.bt_filter .bt_filter_item {padding: 0px 10px; border: 1px solid #49352E; display: inline-flex; align-items: center; justify-content: center; font-size: 21px; color: #49352E;}
.bt_filter .bt_filter_item.active {border-width: 2px; }

.bt_attr_color {width: 25px; height: 25px; border-radius: 50%; display: inline-block;}

.jet-listing-grid .slick-initialized .slick-slide {outline: none;}

.woocommerce button[name="update_cart"],
.woocommerce input[name="update_cart"] {
	display: none;
}

div.woocommerce-message {
    border-top-color: #49352e;
}

.cross-sells .jet-woo-builder-products--columns {list-style: none; padding: 0;}

.variable-items-wrapper .button-variable-item.disabled .variable-item-contents:after,
.variable-items-wrapper .color-variable-item.disabled .variable-item-contents:after {
    content: '';
    width: 1px;
    height: 115%;
    background: #0000004d;
    transform: rotate(-45deg);
    position: absolute;
    top: 50%;
    left: 50%;
    transform-origin: center;
    transform: translate(-50%, -50%) rotate(45deg);
}
.variable-items-wrapper .color-variable-item.disabled .variable-item-contents:after {background: white;}


@media (max-width: 1400px) {
    .bt_cat_grid {grid-template-columns: repeat(3, 1fr);}
}

@media (max-width: 767px) {
    .bt_shop {margin: 20px 0;}
    .bt_cat_grid {grid-template-columns: repeat(2, 1fr); grid-auto-rows: auto; margin-top: 15px; gap: 5px;}
    .bt_cat_grid .bt_cat_tile {grid-column: -1/1; width: calc(100% + 20px); margin-right: -10px; margin-left: -10px;}
    .bt_measure_wrapper {flex-direction: column;}
    .bt_filter .bt_filter_item {font-size: 12px; padding: 0 5px;}
    .bt_filter {gap: 5px; font-size: 12px;}

    .elementor-lightbox div.elementor-lightbox-item {padding-bottom: 0;}
    .elementor-lightbox div.elementor-lightbox-item .elementor-lightbox-image {height: 100%; object-fit: cover;}
    
    .cross-sells .jet-woo-builder-products--columns {display: flex; flex-flow: row wrap;}
    .cross-sells ul.products li.product, .cross-sells ul.products li.product {width: 46%;}
}

/* By Eran */

.bt_cat_grid .bt_cat_title {
    font-family: heebo;
    text-align: center;
}

.bt_cat_grid .bt_cat_title:before {
content: "";
width: 25px;
height: 1px;
background-color:#fff;
position: absolute;
top: 50%;
right: -40px;
}


.bt_cat_grid .bt_cat_title:after {
content: "";
width: 25px;
height: 1px;
background-color:#fff;
position: absolute;
top: 50%;
left: -40px;
}

.button-variable-wrapper li {
border: 1px solid #49352e;
}

.reset_variations {
display: none !important;
}

/********* products grid customization *********/

#place_order,
.purchase-btn {
display: inline-block;
vertical-align: middle;
-webkit-transform: perspective(1px) translateZ(0);
transform: perspective(1px) translateZ(0);
box-shadow: 0 0 1px rgba(0, 0, 0, 0);
-webkit-transition-duration: .3s;
transition-duration: .3s;
-webkit-transition-property: transform;
transition-property: transform;
}

#place_order:hover,
.purchase-btn:hover {
-webkit-transform: scale(0.8);
transform: scale(0.8);
}

.purchase-btn a {
margin: 0!important;
}

/****** variation swatches *******/

.woo-variation-swatches.rtl .variable-items-wrapper .variable-item:not(.radio-variable-item) {
width: 32px;
height: 32px;
}

@media screen and (max-width: 767px) {
.woo-variation-swatches.rtl .variable-items-wrapper .variable-item:not(.radio-variable-item) {
margin: 0px 0 0px 6px;
width: 20px;
height: 20px;
padding: 0;
}

.elementor-216 .elementor-element.elementor-element-df77d96 .elementor-tab-title.elementor-active {
border-bottom: 1px solid rgba(73, 53, 46, 1);
}
.elementor-216 .elementor-element.elementor-element-df77d96 .elementor-tab-title {
 font-weight: 300;
}
}

.custom-heading {
position: relative;
}

.custom-heading span {
display: inline-block;
font-weight: 600;
}


.custom-heading:before {
content: " ";
display: block;
background-color: #fff;
width: 20px;
height: 1px;
position: absolute;
top: 50%;
left: -15%;

}

.custom-heading:after {
content: " ";
display: block;
background-color: #fff;
width: 20px;
height: 1px;
position: absolute;
top: 50%;
right: -15%;
}

.category-tiles .elementor-cta__content {
justify-content: center;
}

.category-tiles .elementor-cta__title.elementor-cta__content-item.elementor-content-item {
position: relative;
max-width: fit-content;
display: inline;
}


.category-tiles .elementor-cta__title.elementor-cta__content-item.elementor-content-item:before,
#categorys-tile:before {
font-family: 'heebo';
content: " ";
display: block;
background-color: #fff;
width: 20px;
height: 1px;
position: absolute;
top: 50%;
left: -30px;
}

.category-tiles .elementor-cta__title.elementor-cta__content-item.elementor-content-item:after,
#categorys-tile:after {
content: " ";
display: block;
background-color: #fff;
width: 20px;
height: 1px;
position: absolute;
top: 50%;
right: -30px;
}

/********* product price customize **********/

.jet-woo-product-price .woocommerce-Price-amount.amount{
display: inline-block;
padding: 4px 15px;
margin-right: 15px;
background-color: #49352E;
border-radius: 2px;
opacity: .5;
color: #fff;
}

.jet-woo-product-price del .woocommerce-Price-amount.amount{
color: #49352E;
background-color: rgba(0,0,0,0);
text-decoration: line-through;
}

.woocommerce-Price-currencySymbol {
display: inline-block;
transform: translatey(3px)
}

/* product page*/

/* variations */

.size-box li {
border: 1px solid #6F6F6F ;
}
table tbody>tr:nth-child(odd)>td, table tbody>tr:nth-child(odd)>th {
background: none;
}

table tbody>tr:nth-child(even)>td, table tbody>tr:nth-child(even)>th {
background: none;
}

table tbody>tr:nth-child(odd)>td:hover, table tbody>tr:nth-child(odd)>th:hover {
background: none;
}

table tbody>tr:nth-child(even)>td:hover, table tbody>tr:nth-child(even)>th:hover {
background: none;
}

tr.size-box::hover {
background-color: black!important;
}

/*!!!!!!blinking effect controls from HTML element in the single product template (jetwoo)!!!!!*/

/* image gallery */

ul.flex-direction-nav {
    position: absolute;
    top: 30%;
    z-index: 1;
    width: 100%;
    left: 0;
    margin: 0;
    padding: 0px;
    list-style: none;
}

li.flex-nav-prev {float: left;}
li.flex-nav-next {float: right;}
a.flex-next {visibility:hidden;}
a.flex-prev {visibility:hidden;}

a.flex-next::after {
    visibility:visible;content: '\f054';
    font-family: 'Font Awesome 5 Free';
    margin-right: 10px;
    font-size: 20px;   
    font-weight: bold;
}
a.flex-prev::before {
    visibility:visible;
    content: '\f053';
    font-family: 'Font Awesome 5 Free';   
    margin-left: 10px;
    font-size: 20px;
    font-weight: bold;
}
ul.flex-direction-nav li a {color: #49352E;}
ul.flex-direction-nav li a:hover {text-decoration: none;}


/*billing form */

@media screen and (min-width: 767px) {
    .woocommerce-billing-fields__field-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    #billing_first_name_field {width: 30%;}
    #billing_email_field {width: 30%;}
    #billing_phone_field {width: 30%;}
    #billing_address_1_field {width: 48%;}
    #billing_city_field {width: 48%;}
}

.variable-item-contents span,
.button-variable-item,
.variable-item-span,
.variable-item-span-button {
	font-size: 10px!important;
}

li.variable-item.button-variable-item {
	width: 45px!important;
	height: 45px!important;
	border: none!important;
	font-size: 10px!important;
}






/* code copied from override parent elementor before updating template */

/*body{
	background-color: #C77B82;
}
.checkout-wrapper{
	direction: rtl;
	display: flex;
	justify-content: space-between;
	color: #fff;
}*/



.woocommerce-billing-fields{
	padding: 10px;
	background-color: rgba(255, 255, 255, .2);
	border: 2px solid #000!important;
	border-radius: 10px;
	box-shadow: 0 0 0 2px rgba(255, 255, 255, .2);
}

.woocommerce-billing-fields h3 {
	color: #000!important;
}

.woocommerce form .form-row label{
	color: #000!important;
}
.woocommerce form .form-row input.input-text{
	padding: 10px;
	background-color: rgba(255, 255, 255, .2);;
	border-radius: 10px;
	border: 0;
	color: #000!important;
}
.woocommerce-checkout-review-order{
	padding: 10px;
	background-color: rgba(255, 255, 255, .2);
	border: 2px solid rgba(255, 255, 255, .4);
	border-radius: 10px;
	box-shadow: 0 0 0 2px rgba(255, 255, 255, .2);
}

.product-name a {
	color: inherit;
}

.header-hover .elementor-search-form--skin-full_screen .elementor-search-form__toggle .e-font-icon-svg-container svg, .elementor-search-form--skin-full_screen .elementor-search-form__toggle i svg,
.header-hover .e-font-icon-svg {
    color: var( --e-global-color-text ) !important;
    fill: var( --e-global-color-text )!important;
}

.my-add-to-cart tr {
    display: flex;
    flex-direction: column;
    text-align: right;
}

i.wvg-thumbnail-prev-arrow.dashicons.dashicons-arrow-left-alt2.slick-arrow,
i.wvg-thumbnail-next-arrow.dashicons.dashicons-arrow-right-alt2.slick-arrow,
.mystyle-hide {
    display: none!important;
}

.wvg-slider-next-arrow:before,
.wvg-slider-prev-arrow:before {
	color: var(--e-global-color-text)!important;
}

i.wvg-slider-next-arrow.dashicons.dashicons-arrow-right-alt2.slick-arrow,
i.wvg-slider-prev-arrow.dashicons.dashicons-arrow-left-alt2.slick-arrow {
    background: none;
}
@media screen and (max-width:767px) {
.slick-list.draggable {
	max-height: 220px;
}
}

#fit-btn {
	font-weight: bold;
}

.woo-variation-gallery-wrapper.woo-variation-gallery-product-type-variable.wvg-loaded.woo-variation-gallery-thumbnail-position-bottom {
	min-height: unset!important;
}
/*

.slick-track{margin:0!important;transform:translate3d(0px, 0px, 0px) !important;}

.slick-track {
	opacity: 1;
	height: 2451px;
	transform: unset!important;
}

#player {
	opacity: 0!important;
	transform: translate3d(0px, 516px, 0px)!important;
	z-index: -1!important;
}

*/
/* End - By Eran */

.stock { display:none; }