/* code copied from override parent elementor before updating template */

/*body{
	background-color: #C77B82;
}
.checkout-wrapper{
	direction: rtl;
	display: flex;
	justify-content: space-between;
	color: #fff;
}*/
/*Form*/
/*.checkout-form{
	margin: 5px 0;
	padding: 10px;
	display: flex;
	flex-direction: column;
	background-color: rgba(255, 255, 255, .2);
	border: 2px solid rgba(255, 255, 255, .4);
	border-radius: 10px;
	box-shadow: 0 0 0 2px rgba(255, 255, 255, .2);
}
.checkout-title{
	margin-bottom: 10px;
	font-size: 40px;
}
.checkout-form-inner{
	margin-bottom: 45px;
}
.checkout-form-item{
	margin-bottom: 10px;
}
.checkout-form__label{
	margin-bottom: 5px;
	display: flex;
	flex-direction: column;
	font-size: 18px;
}
.checkout-form__label_select {
	display: block;
	}
	.checkout-form__label_select .checkout-form__text{
		display: block;
	}

.checkout-form__text{
	margin-bottom: 5px;
}
.checkout-form-item .checkout-form__label .checkout-form__input{
	padding: 10px;
	background-color: rgba(255, 255, 255, .2);;
	border-radius: 10px;
	border: 0;
	color: #fff;
}
.checkout-form-item .checkout-form__label .checkout-form__select{
	width: auto;
	display: inline-block;
	padding: 10px;
	background-color: rgba(255, 255, 255, .2);;
	border-radius: 10px;
	border: 0;
}
.checkout-form-paybtn{
	padding: 15px 5px;
	margin-bottom: 15px;
	font-size: 32px;
	min-width: 200px;
	align-self: center;
	border: 0;
	border-radius: 50px;
	color: #C77B82;
	background-color: #fff;
	box-shadow: 0 3px 10px rgba(0, 0, 0, .5);
}*/
/*Review*/
/*.checkout-review{
	margin: 5px 0;
	padding: 10px;
	display: flex;
	flex-direction: column;
	background-color: rgba(255, 255, 255, .2);
	border: 2px solid rgba(255, 255, 255, .4);
	border-radius: 10px;
	box-shadow: 0 0 0 2px rgba(255, 255, 255, .2);
}
.checkout-text{
	margin-bottom: 5px;
	display: block;
	font-size: 18px;
}
.checkout-review-inner{
	position: relative;
	height: 100%;
	min-height: 300px;
}
.checkout-review-header{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 10px;
	font-size: 18px;
}
.checkout-review-header__item{
	padding: 10px;
	background-color: rgba(255, 255, 255, .2);;
	border-radius: 10px;
	color: #fff;
}
.checkout-review-header__item:first-of-type{
	grid-column: span 3;
}
.checkout-review-footer{
	width: 100%;
	display: flex;
	justify-content: space-between;
	font-size: 18px;
	position: absolute;
	bottom: 0;
	left: 0;
}
.checkout-review-footer__item{
	display: block;
	padding: 10px;
	background-color: rgba(255, 255, 255, .2);
	border-radius: 10px;
	color: #fff;
}
.checkout-review-footer__item:nth-of-type(2){
	background-color: transparent;
}
*/

.woocommerce-billing-fields{
	padding: 10px;
	background-color: rgba(255, 255, 255, .2);
	border: 2px solid #cccccc;
	border-radius: 10px;
	box-shadow: 0 0 0 2px rgba(255, 255, 255, .2);
	color: #000!important;
}

.woocommerce-billing-fields h3{
	color: #000!important;
}
.woocommerce form .form-row label{
	color: #000;
}
.woocommerce form .form-row input.input-text{
	padding: 10px;
	background-color: rgba(255, 255, 255, .2);;
	border-radius: 10px;
	border: 0;
	color: #000;
}
.woocommerce-checkout-review-order{
	padding: 10px;
	background-color: rgba(255, 255, 255, .2);
	border: 2px solid rgba(255, 255, 255, .4);
	border-radius: 10px;
	box-shadow: 0 0 0 2px rgba(255, 255, 255, .2);
}

*/